.card{
  max-width: 320px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px -12px var(--Light-Gray);
  margin: 0 auto;
  padding: 15px;
  background-color: white;
}

.card-head {
  text-align: start;
}

.card-body p {
  padding: 10px 0px;
  margin: 0px;
  font-size: 0.8rem;
  line-height: 25px;
  text-align: start;
}

.card-footer {
  display: flex;
  align-items: center;
}

.card-footer img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.card-footer div p, h4 {
  margin: 0;
  text-align: start;
  font-size: 0.8rem;
  padding: 0;
}

@media (min-width: 768px) {
  .card {
    margin: 0;
  }
}