header{
  max-width: var(--desktop-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0px auto;
  padding: 0 5%;
}

.header-logo img {
  width: 100px;
}

.header-navbar{
  list-style: none;
  display: inline-flex;
  font-family: var(--font-family);
}

.header-navbar li {
  margin-right: 10px;
}

.header-navbar a {
  text-decoration: none;
}
