.section{
  display: flex;
  flex-direction: column;
  padding: 0px 5%;
  padding-top: 30px;
  padding-bottom: 90px;
}

.section-illustration {
  align-self: center;
  padding-bottom: 40px;
}

.section-illustration img {
  width: 100%;
}

.section-details {
  text-align: center;
}

.section-details h1 {
  margin-bottom: 25px;
  font-size: 1.7rem;
}

.section-details h2 {
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-family: var(--font-family);
}

.section-details p {
  margin-bottom: 20px;
}

.section-details input {
  width: 90%;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid var(--Very-Dark-Blue);
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.section-details button {
  width: 90%;
  background-color: var(--Bright-Blue);
  padding: 10px;
  color: var(--Light-Grayish-Blue);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 0px var(--Light-Gray);
  font-family: var(--font-family);
  font-weight: bold;
}

.section-details-call-to-action {
  padding-top: 20px;
  padding-bottom: 50px;
}

.section-details-call-to-action img{
  width: 25px;
  margin-left: 5px;
}

.section-details a {
  color: var(--Moderate-Cyan);
  text-decoration: none;
  border-bottom: 1.5px solid;
  padding: 5px;
  margin: 20px 0 20px 0;
  display: inline-flex;
}

@media (min-width: 768px){
  .section {
    flex-direction: row-reverse;
    max-width: var(--desktop-width);
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 100px;
    align-items: center;
  }

  .section-details {
    flex: 50%;
    text-align: start;
  }

  .section-details h1 {
    font-size: 2.5rem;
    font-family: var(--font-family);
  
  }

  .section-details h2 {
    font-size: 2rem;
  }

  .section-details p {
    padding: 0;
    max-width: 540px;
  }

  .section-details input {
    width: 55%;
    margin-right: 10px;
  }

  .section-details button {
    width: 30%;
  }

  .section-illustration {
    flex: 50%;
  }  

}