.section{
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
  padding: 0px 5%;
}

.section-illustration {
  align-self: center;
}

.section-illustration img {
  width: 100%;
}

.section-details {
  text-align: center;
}
