.footer{
  padding: 80px 50px 50px 50px;
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  display: flex;
  flex-direction: column;
}

.footer ul {
  list-style: none;
}

.footer li {
  padding-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: var(--Light-Grayish-Blue);
}

.column1, .column2, .column3, .column4 {
  padding-bottom: 25px;
}


.column1 svg {
  margin-bottom: 30px;
}

.column1 p {
  padding-bottom: 20px;
}

.column1 p span {
  padding-right: 20px;
}

.column4 {
  text-align: center;
}

.column4 i {
  margin: 10px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 180px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
  }

  .column1 {
    flex: 50%;
    margin-top: -85px;
  }
  .column2 {
    flex: 20%;
  }
  .column3 {
    flex: 20%;
  }
  .column4 {
    flex: 30%;
    text-align: start;
    padding-right: 50px;
  }
}
